// * {
//     box-sizing: border-box;
  
//   }
  
  
//   /* Style the body */
//   body {
//     font-family: Arial, Helvetica, sans-serif;
//     margin: 5px;
//     background-color: #f3ba3e;
//   background-image: url('./../../../assets/images/OIP.jpg');
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//   }
  
//   /* Header/logo Title */
//   .header {
//     padding: 20px;
//     text-align: center;
//     background: hsl(209, 100%, 53%);
//     color: rgb(231, 253, 255);
//     justify-content: space-between;
//    position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
//  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
//    }
  
//   /* Increase the font size of the heading */
//   .header h1 {
//     font-size: 40px;
//   }
  
//   /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
//   .navbar {
//     overflow: hidden;
//     background-color: #fac107;
//     position: sticky;
//     position: -webkit-sticky;
//     z-index: 2;
//   }
  
//   /* Style the navigation bar links */
//   .navbar a {
//     float: left;
//     display: block;
//     color: #050505;
//     text-align: center;
//     padding: 14px 20px;
//     text-decoration: none;
//   }
  
  
//   /* Right-aligned link */
//   .navbar a.right {
//     float: right;
//   }
  
//   /* Change color on hover */
//   .navbar a:hover {
//     background-color: hsl(209, 100%, 53%);
//     color: black;
//   }
  
//   /* Active/current link */
//   .navbar a.active {
//     background-color: #666;
//     color: white;
//   }
  
//   /* Column container */
//   .row {
//     display: -ms-flexbox; /* IE10 */
//     display: flex;
//     -ms-flex-wrap: wrap; /* IE10 */
//     flex-wrap: wrap;
//   }
  
//   /* Create two unequal columns that sits next to each other */
//   /* Sidebar/left column */
//   .side {
//     -ms-flex: 30%; /* IE10 */
//     flex: 30%;
//     background-color: #f1f1f1;
//     padding: 20px;
//   }
//   .column {
//     float: left;
//     //width: 25%;
//     top: 100px;
//     margin-left: 20px;
//     padding: 10px;
//     height: 550px;

   
//   }
//   .columna {
//     float: right;
//     width: 75%;
//     margin-left: 20px;
//     padding: 10px;
//     height: 550px;
//   }
//   .row ::after {
//     content:"";
//     display: table;
//     clear:  both;
//   }


  
//   /* Main column */
//   .main {
//     -ms-flex: 70%; /* IE10 */
//     flex: 70%;
//     background-color: white;
//     padding: 20px;
//   }
  
//   /* Fake image, just for this example */
//   .fakeimg {
//     background-color: #aaa;
//     width: 100%;
//     padding: 20px;
//   }
  
//   /* Footer */
//   .footer {
//     padding: 20px;
//     text-align: center;
//     background: #ddd;
//   }
  
//   /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
//   @media screen and (max-width: 700px) {
//     .row {
//       flex-direction: column;
//     }
//   }
  
//   /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
//   @media screen and (max-width: 400px) {
//     .navbar a {
//       float: none;
//       width: 100%;
//     }
//   }


.example-container {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }